<div class="cust">
	<h3><%= customer.full_name %></h3>
	<p><%= image_tag(customer.image) %></p>
	<p><strong>Province: </strong>
		<% if customer.province.nil? %>
			None
		<% else %>
			<%= customer.province.name %>
		<% end %>
	</p>
	<p><%= customer.phone_number %></p>
	<p><%= customer.email_address %></p>
</div>